<% var title = 'Formulaire login' %>
<% include head %>

<div id="connexion">
<form method="post" action="/login">
  <br>Veuillez retourner à la page login :
  <br>
  <input type="submit" value="Login">
  </p>
</form>
</div>
<% include foot %>