<% include head %>
<% var title = 'Pictionnary - DashBord' %>
<style> 
body
{
background-color: palegreen;
   background-image:url("./images/Pictionary.png");
   background-repeat:no-repeat;
   background-position: center;
   background-attachment: fixed;
}
#DashBord{
text-align: center;
box-shadow: 8px 8px 12px #aaa;
left: 25%;
top: 2em;
font-family: Arial, Sanserif;
font-size:18px;
background: #b3ccff;
position:relative ; 
width:580px;
height: 470px; 
padding : 50px ;
border:2px ridge black;
border-radius: 25px;
}
h1{
margin:6px;
}
</style>

<div id="DashBord">
<h1>DashBord-Admin</h1>
<p>Suppression des utilisateurs : <p>
<br>
<p>La liste des Utilisateurs : </p>
<div>
<% for(var i = 0 ; i < resultat.length ; i++) { %>
		<p> <%= resultat[i].nom %>  </p>
	<% } %>
</div>
<form role="form" action="/supProfilAdmninSide" method="post" name="inscription">
Saisir ici le nom de l'utilisateur que dont vous voulez supprimer le compte :
<input type="text" required name="nameSup" id="nameSup"/><br>
<input type="submit" value="Soumettre nomSup">
</form>
</div>

<% include foot %>