<% var title = 'Formulaire Erreur Login' %>
<% include head %>

<div id="connexion">
<p>Erreur de Login</p>
  <br>Veuillez retourner à la page login en cliquant sur 'Pictionnary'
  <br>
  </p>
</div>
<% include foot %>