<% var title = 'Profil' %>
<% include head %>
<h1>Profil</h1>

<div><h3>Bienvenue </h3></div>
<div id="header">
<form id="insc" method="post" action="/inscription" >
<label>Email <input type="text" name="email" id="email"></label>
<label>Mot de passe<input type="password" name="password" id="password"></label>
<input type="submit" class="submit" value="Inscription">
</form></div>
<!--
app.get('/', function (req, res, next) {
  if (req.session.username) {
    // User is authenticated, let him in
    res.render('index');
  } else {
    // Otherwise we redirect him to login form
    res.redirect("/login");
  }
}); -->
<% include foot %>